/* css/home.css */


.secao-home {
	height: 100vh;
	margin: 0 auto;
	background-image: linear-gradient(to bottom right, #40E0D0, #8FBC8F);
	background-repeat: no-repeat;	
	padding:  112px;	
	position: relative;
}

.secao-home p {
	width: 600px;
	background: #ffffff;
	margin: 0 auto;
	border: 5px solid #8FBC8F;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0px 5px 60px #8FBC8F;
	/*text-shadow: 8px 6px 8px gray;*/
	font-weight: bold;
}